<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<style>
body{margin:0;font-family:Arial;display:flex;background:#0f172a;color:white}
aside{width:230px;background:#020617;padding:20px}
aside a{display:block;color:white;padding:8px}
aside a:hover{background:#1e293b}
main{flex:1;padding:30px}
</style>
</head>
<body>

<aside>
<h3>🏫 SMS</h3>
<p>Admin: {{request.user.username}}</p>
<a href="/dashboard/">Dashboard</a>
<a href="/students/">Students</a>
<a href="/teachers/">Teachers</a>
<a href="/classes/">Classes</a>
<a href="/attendance/">Attendance</a>
<a href="/fees/">Fees</a>
<a href="/reports/">Reports</a>
<a href="/logout/">Logout</a>
</aside>

<main>
<h1>Dashboard Overview</h1>
<p>System ready & running.</p>
</main>

</body>
</html>
