<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Reports</title>
<style>
body{margin:0;font-family:Arial;display:flex}
.sidebar{width:230px;background:#020617;color:white;height:100vh;padding:20px}
.sidebar a{color:white;display:block;margin:12px 0;text-decoration:none}
.main{flex:1;padding:30px}
</style></head>
<body>

<div class="sidebar">
<h3>🏫 SMS</h3>
<a href="/dashboard/">Dashboard</a>
<a href="/students/">Students</a>
<a href="/teachers/">Teachers</a>
<a href="/classes/">Classes</a>
<a href="/attendance/">Attendance</a>
<a href="/fees/">Fees</a>
<a href="/reports/">Reports</a>
<a href="/logout/">Logout</a>
</div>

<div class="main">
<h1>Reports</h1>
<p>User: {{ request.user.username }} (Admin)</p>
</div>

</body></html>
